<div class="card-wrapper" *ngFor="let key of objectKeys" >
  <div *ngIf="dictionary[key].length !== 0">
      <div [ngClass]="{'actual' : actualCity.cityName == dictionary[key].name}" (click)="setActual(dictionary[key].name)">
          <span class="delete" (click)="removeCity(dictionary[key].name)">
              <i class="far fa-times-circle"></i>
            </span>
            <div class="card-content">
                <span class="city-name">{{ dictionary[key].name }}</span>
                <div class="temp-wrapper">
                    <img src="http://openweathermap.org/img/w100/{{ dictionary[key].weather[0].icon }}.png" class="weather-icon">
                    <span class="temp">{{ dictionary[key].main.temp }}°C</span>
                </div>
            </div>
      </div>
  </div>
</div>
