@import '../../../styles.scss';

.card-wrapper {
  margin: 0;
  border-bottom: 1px solid #C0C0C0;

  .delete {
    float: right;
    padding: .5em;
  }

  .delete:hover {
    color: red;
    cursor: pointer;
  }

  .card-content {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .city-name {
      color: $main-text-color;
      font-weight: bold;
      font-size: 20px;
    }

    .temp-wrapper {

      .weather-icon {
        width: 35px;
      }

      .temp {
        font-size: 14px;
      }
    }
  }

}
