<div class="full-wrapper">
  <div class="center-panel">
    <div class="title">
      Bejelentkezés
    </div>
    <div class="content">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-user"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Felhasználónév" required>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-key"></i>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="Jelszó" required>
      </div>
      <div class="input-group">
        <button type="button" class="btn btn-primary login-btn">Belépés</button>
      </div>
      <sub class="login-info">Amennyiben még nem vagy regisztrálva, az első belépésnél létrejön a fiókod.</sub>
    </div>
  </div>
</div>
